<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<array>
		<dict>
			<key>functionIdentifier</key>
			<string>public.submenu</string>
			<key>settings</key>
			<dict>
				<key>content</key>
				<array>
					<dict>
						<key>functionIdentifier</key>
						<string>public.script.item</string>
						<key>settings</key>
						<dict>
							<key>script</key>
							<string>com.github.ygini.hello-it.createDesktop.sh</string>
							<key>title</key>
							<string>Presenter Mode</string>
						</dict>
					</dict>
					<dict>
						<key>functionIdentifier</key>
						<string>public.open.application</string>
						<key>settings</key>
						<dict>
							<key>app</key>
							<string>Managed Software Center</string>
							<key>title</key>
							<string>Managed Software Center</string>
						</dict>
					</dict>
				</array>
				<key>title</key>
				<string>Toolbox</string>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.submenu</string>
			<key>settings</key>
			<dict>
				<key>content</key>
				<array>
					<dict>
						<key>functionIdentifier</key>
						<string>public.test.http</string>
						<key>settings</key>
						<dict>
							<key>URL</key>
							<string>http://captive.apple.com</string>
							<key>mode</key>
							<string>md5</string>
							<key>originalString</key>
							<string>73a78ff5bd7e5e88aa445826d4d6eecb</string>
							<key>ignoreSystemState</key>
							<true/>
							<key>repeat</key>
							<integer>60</integer>
							<key>title</key>
							<string>Internet</string>
						</dict>
					</dict>
					<dict>
						<key>functionIdentifier</key>
						<string>public.test.http</string>
						<key>settings</key>
						<dict>
							<key>URL</key>
							<string>http://internal.example.com</string>
							<key>mode</key>
							<string>md5</string>
							<key>originalString</key>
							<string>4f7c1267224582bc9bc074a918ad97c1</string>
							<key>repeat</key>
							<integer>60</integer>
							<key>ignoreSystemState</key>
							<true/>
							<key>title</key>
							<string>Internal Services</string>
							<key>failedConnection</key>
							<string>HITPluginTestStateUnavailable</string>
							<key>unmatchingResult</key>
							<string>HITPluginTestStateError</string>
						</dict>
					</dict>
				</array>
				<key>stateSortScenario</key>
				<integer>1</integer>
				<key>title</key>
				<string>Services State</string>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.separator</string>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.open.resource</string>
			<key>settings</key>
			<dict>
				<key>URL</key>
				<string>https://mail.example.com</string>
				<key>title</key>
				<string>Webmail</string>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.open.resource</string>
			<key>settings</key>
			<dict>
				<key>URL</key>
				<string>https://support.example.com</string>
				<key>title</key>
				<string>Support</string>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.separator</string>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.script.item</string>
			<key>settings</key>
			<dict>
				<key>script</key>
				<string>com.github.ygini.hello-it.ip.sh</string>
				<key>repeat</key>
				<integer>60</integer>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.script.item</string>
			<key>settings</key>
			<dict>
				<key>script</key>
				<string>com.github.ygini.hello-it.hostname.sh</string>
				<key>repeat</key>
				<integer>60</integer>
				<key>args</key>
				<dict>
					<key>format</key>
					<string>%C</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.open.resource</string>
			<key>settings</key>
			<dict>
				<key>URL</key>
				<string>mailto:support@example.com?subject=Support Request</string>
				<key>title</key>
				<string>Send e-mail to support</string>
			</dict>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.separator</string>
		</dict>
		<dict>
			<key>functionIdentifier</key>
			<string>public.quit</string>
		</dict>
	</array>
</dict>
</plist>
