<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.github.ygini.hello-it</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Utilities/Hello IT.app/Contents/MacOS/Hello IT</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
