<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Content</key>
    <array>
      <dict>
        <key>functionIdentifier</key>
        <string>public.separator</string>
      </dict>
      <dict>
        <key>functionIdentifier</key>
        <string>public.submenu</string>
        <key>settings</key>
        <array>
          <dict>
            <key>functionIdentifier</key>
            <string>public.script.item</string>
            <key>settings</key>
            <dict>
              <key>path</key>
              <string>/Library/Application Support/com.github.ygini.hello-it/CustomScripts/com.github.ygini.hello-it.munki.manifestname.sh</string>
              <key>periodic-run</key>
              <integer>6000</integer>
              <key>title</key>
              <string>mscmanifest</string>
            </dict>
          </dict>
          <dict>
            <key>functionIdentifier</key>
            <string>public.script.item</string>
            <key>settings</key>
            <dict>
              <key>path</key>
              <string>/Library/Application Support/com.github.ygini.hello-it/CustomScripts/com.github.ygini.hello-it.pendingmscupdates.sh</string>
              <key>periodic-run</key>
              <integer>360</integer>
              <key>title</key>
              <string>pendingupdatescount</string>
            </dict>
          </dict>
        </array>
        <key>title</key>
        <string>Managed Software Center</string>
      </dict>
    </array>
  </dict>
</plist>
