//
//  Hello-IT.xcconfig
//  Hello IT
//
//  Created by Yoann Gini on 18/04/2021.
//  Copyright © 2021 Yoann Gini (Open Source Project). All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include ".BuildVersion.xcconfig"

DEVELOPMENT_TEAM = CRXPBZF3N4

// If you want to sign your own copy of Hello IT, overload the DEVELOPMENT_TEAM key with your own Team ID in a CustomSettings.xcconfig file next to this one
#include? "CustomSettings.xcconfig"

MARKETING_VERSION = 1.6.0
BUILD_VERSION = $(GIT_BUILD_VERSION:default=0)
